.yearrow:hover {
    background-color: #d0005e;
}

.semesterrow:hover {
    background-color: #f8d9ac;
}

.courserow:hover {
    background-color: #cccfd2;
}

.header {
    display: table-header-group;
    text-align: center
    vertical-align: middle;
}

.cell {
    display: table-cell;
    text-align: center
    vertical-align: middle;
}

.cumulativerow {
    background-color: #222;
    color: white;
    display: table-row;
    text-align: center
}

.yearrow {
    background-color: #6A0030;
    color: white;
    display: table-row;
    text-align: center
}

.semesterrow {
    background-color: #f0ad4e;
    color: white;
    display: none;
    text-align: center
}

.courserow {
    background-color: #969CA2;
    color: white;
    display: none;
    text-align: center
}